# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Projects/binaries
projects/sources/*    
projects/sources/*/**    

# Docker container auxiliaries 
.devcontainer
.devcontainer/devcontainer.json

# DS_Store
.DS_Store 

# VS Code
.vscode
.vscode/*
.vscode/*/**

# export WS_ROOT=/workspace/secern/
# export ELF_BIN=/workspace/secern/projects/elf/binutils/bin
# export ELF_TEST_IN=/workspace/secern/projects/elf/test_in
# export CFG_ALIGN=/workspace/secern/secern-cfg-align